//Crear una variable//
$color-blanco: #fafafa;


    
    body{ background-color: beige;
    }
    
    header{ display: flex;
        justify-content: space-between;
        align-items:center;
        font-family: Arial, Helvetica, sans-serif;
        padding: 15px;
        border-bottom: solid gray;        
        }

        nav{
            ul{

                display: flex;
                list-style-type: none;
                
    
            }
            
        }
    