//Crear una variable//
$color-blanco: #fafafa;


*{ margin:0,;
    padding:0;
    }
    
    body{ background-color: beige;
    }
    
    header{ display: flex;
        justify-content: space-between;
        font-family: Arial, Helvetica, sans-serif;
        padding: 15px;
        border-bottom: solid gray;
    
        nav{
            ul{
                display: flex;
                list-style-type: none;
                
    
            }
            
        }
    
    }