.marcas{ 
    h2{
        text-align: center;
        color:grey;
        font-family: Arial, Helvetica, sans-serif;
        margin:25px;
        font-size: 2rem
    }
    @mixin p {text-align: center;
        color:grey;
        font-family: Arial, Helvetica, sans-serif;
        margin:25px;
        font-size: 2rem}
    }
    .fotosmarcas{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
        margin-bottom:45px;

        
        .empresa {
            display: flex;
            flex-direction: column;
            img{ width:300px;
                height: 300px;
                }
            a{margin: left 10px;
            color: solid gray}
        }
    }

